<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>detail-none
    </ion-list> -->
    <ion-list>
      <button ion-item icon-start menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button ion-item no-lines icon-start menuClose *ngFor="let cate of categorias" (click)="categoriaSeleccionada(cate)">
        <ion-icon name="book" item-start></ion-icon>
        {{ cate.slug | uppercase }}
        <!-- <p>{{ cate.description }}</p>
          <p>{{ cate.link }}</p>
          <p>{{ cate.id }}</p> -->
      </button>
    </ion-list>
    <img class="center" src="../assets/icon/icon.png">
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
